# OSX
.DS_Store

# Android/IntelliJ
build/
.idea/
.gradle/
local.properties
*.iml
*.hprof
.cxx/
captures/
.externalNativeBuild/
*.keystore
!debug.keystore

# Gradle wrapper cache
.gradle

# node
node_modules/

# Bundle artifacts
*.jsbundle
